<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
       xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

     <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
        <h:outputStylesheet name="./css/vistaPrincipal.css"/>
        
        <title>Siviuq-UniQuindio</title>
    </h:head>

    <h:body>

        <p:layout fullPage="true">
           
                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <div id="encabezado">
                        <table align="center">
                       
                         <tr>
                            <td aling="center">
                                <h1>#{props['heard.titulo']}</h1>
                            </td>
                           
                        </tr>
                        <tr>
                            
                        </tr>
                        <tr>
                            <td aling="center">
                                <h:form id="formaIdioma"  >
                                    <center><p:commandButton id="btnIdioma" action="#{beanIdioma.changeIdioma}" value="#{beanIdioma.idioma}" ajax="false" /></center>
                                </h:form>
                                
                            </td>
                        </tr>
                    </table>
                 </div>
                </p:layoutUnit>

            <p:layoutUnit position="south" size="100" closable="true" collapsible="true" style="background: black" >
                     <div id="footer">
                        <center style="font-size: 12px;">&copy; #{props['footer.uno']}</center>
                        <center style="font-size: 14px;">&copy; #{props['footer.dos']} <a href="http://www.uniquindio.edu.co" target="_blank">www.uniquindio.edu.co</a></center>
                    </div>
                </p:layoutUnit>

                <p:layoutUnit position="west" size="175" header="#{props['left.ocultar']}" collapsible="true" style="background: black">
                    <div id="menu">
                    <ui:insert name="menuLeft"> </ui:insert>
                    </div>
                </p:layoutUnit>

                <p:layoutUnit id="cuerpo" position="center" style="background: black">
                    <div>
                    <ui:insert name="content">Aqui cambia el contenido . . .</ui:insert>
                    </div>
                </p:layoutUnit>

            </p:layout>


    </h:body>

</html>
