#encabezado{
    background: url("../../resources/imagenes/encabezado.jpg");
    
}

#footer{
    background: url("../../resources/imagenes/fondoCenter.jpg");
    width: 100%;
    height: 100%;
    color: black;
}


#formularioLogin{
    position: relative;
    margin: 5%;
}
#menu{
    background: url("../../resources/imagenes/fondoLeft.jpg");
    width: 100%;
    height: 100%;
}
