<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./WEB-INF/templateSV.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="menuLeft">
       <p:menu>
          <p:submenu label="Administración">
              <p:menuitem value="Crear Usuario" url="#" />
              <p:menuitem value="Crear Facultad" url="#" />
              <p:menuitem value="Crear Programa" url="#" />
              <p:menuitem value="Salir" url="/logout.jsp" />
          </p:submenu>
       </p:menu>
    </ui:define>

    <ui:define name="content">
        #{loginBean.idUsuario}
    </ui:define>

</ui:composition>
